$blue:#0a2463;
$light-blue:#3e92cc;
$pink:#d8315b;
$black:#1e1b18;
$white:#fffaff;
.header{
    position: fixed;
    background:linear-gradient(180deg, rgba(255,255,255,0.9822129535407913) 50%, rgba(255,255,255,0) 100%);
    z-index:10;
    padding: 20px 0;
    width: 100%;
    .container{
        display: flex;
        justify-content: space-between;
    }

    &__logo{
        font-size: 2.3rem;
        font-weight:400;
        text-transform: uppercase;
        color:$blue;
        font-family: montserrat;

    }
    &__logo--title{
        color:$light-blue;
    }
    &__menu{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__menu-link{
        font-family: Poppins;
        padding: 20px;
        text-decoration: none;
        cursor: pointer;
        &:hover{
            color:$light-blue;
        }
        &--active{
            //color:#7b7b7b;
            color:$light-blue;
            font-weight: 500;
        }
    }
    &__account{
        display: flex;
        align-items: center;
    }
    &__account-link{
        width:30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $blue;
        color:$blue;
        margin-right: 1.5rem;
        text-decoration: none;
        &:hover{
            color:$pink;
        }
        &--anchor{
            margin-right: 1.5rem;
            font-family: Poppins;
            text-decoration: none;
        }
    }
}
